	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/06/2020 00:10
  	*/

@font-face {
  font-family: "Flaticonmeat";
  src: url("../fonts/Flaticonmeat.eot");
  src: url("../fonts/Flaticonmeat.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticonmeat.woff2") format("woff2"),
       url("../fonts/Flaticonmeat.woff") format("woff"),
       url("../fonts/Flaticonmeat.ttf") format("truetype"),
       url("../fonts/Flaticonmeat.svg#Flaticonmeat") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticonmeat";
    src: url("../fonts/Flaticonmeat.svg#Flaticonmeat") format("svg");
  }
}

[class^="flaticonm-"]:before, [class*=" flaticonm-"]:before,
[class^="flaticonm-"]:after, [class*=" flaticonm-"]:after {   
  font-family: Flaticonmeat;
        font-size: 20px;
font-style: normal;
margin-left: 10px;
}

.flaticonm-carne:before { content: "\f100"; }
.flaticonm-pollo:before { content: "\f101"; }
.flaticonm-oveja:before { content: "\f102"; }
.flaticonm-vaca:before { content: "\f103"; }
.flaticonm-mariscos:before { content: "\f104"; }